* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.pad{
    margin: auto;

}
.style-form2{
    margin: 20vh 0 0 10px;
    height: auto;
}
.lable-style-login{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.2rem;
  font-weight:500;
}
.style-form{
    display: flex;
    border: 1px solid rgb(166, 153, 153);
    width: 30vw;
    justify-items: flex-start;
    /* align-content: flex-start; */
    margin: auto;
    flex-direction: column;
    padding: 20px;
    box-shadow:1px 1px 0px rgba(172, 172, 172, 0.577);
    transition: all 1s;

}
.style-form:hover{
  box-shadow: 10px 13px 10px rgba(150, 150, 150, 0.727);
  transition: all 1s;
}

 #login input, #login labal {
    margin: 10px;
    display: block;
    margin-right: auto;
    font-size:1rem;
    margin-left: auto;
 }

input{
    padding: 0.5rem;
    
}
.sub1{
    padding: 10px;
    width: 10vw;
}

main {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    gap: 2px;
    width: 100vw;
    height: fit-content;
    margin-top: 5vw;

}
.items{
    height: 10vh;
    padding: 1vw;
    font-size: 1.2rem;
    margin: auto;
    width: 100%;
    
}

.itemsfilter{
    border: 1px solid black;
    padding: 1rem;
    margin: 0;
    width: auto ;
    margin: auto;
}

#filterBtn, #getBtn{
    border-radius: 0.3vw;
    

}
input[type=text] {
    border: 2px solid rgb(57, 57, 57);
    border-radius: 4px;
}
.addshoeBtnStyle{
    padding: 1rem;
    margin: auto 0 auto 10px;
    height: 10vh;
    background-color: rgb(244, 244, 244);
}
.addshoeBtnStyle {
    background-color: #5e2727;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    margin: auto 0 auto 10px;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    -webkit-user-select: none;
    width: 80%;
    will-change: transform;
  }

  .addshoeBtnStyle:disabled {
    pointer-events: none;
  }
  
  .addshoeBtnStyle:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .addshoeBtnStyle:active {
    box-shadow: none;
    transform: translateY(0);
  }
  #addItemform{
    display: none;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin: auto;
    
  }
  .itemsnew{
    margin: 5px;
    font-size: 1.2rem;

  }

  .center{
    background-color: rgb(3, 35, 35);
    align-items: center;
    margin: 3% auto auto auto;
    
  }
  .deleteShoeBtn{
    width: 30%;
    margin-right: 0;
    margin: auto;
    padding: 1%;
    border: none;
    cursor: pointer;
    background-color: #e0d9d9;
    border-radius: 10px;
  }
  .deleteShoeBtn:hover{
    background-color: #b7afaf;
    transition: all 0.8s;

  }
.container-shoes{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3%;
    font-size: 1.3rem;
    border: 1px solid black;
}
#break-header{
    margin: 10px;
}



.stylesubmitbtn {
  font-size: 16px;
  font-weight: 200;
  padding: 13px 20px 13px;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
}

.stylesubmitbtn:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.stylesubmitbtn:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .stylesubmitbtn {
    padding: 13px 50px 13px;
  }
}
nav{
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  margin: auto;
}

.inputfilter{
  width: 12vw;
}
